@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Frijole&display=swap');

/* body style */
body {
    font-family: 'Bubblegum Sans', sans-serif;
    background-color: #8DA9C4;
    text-align: center;
}

/* heading */
.heading {
    background-color: #13315C;
    color: rgb(219 69 82);
    padding: 20px;
    border: 2px solid #fff;
}

h1 {
    font-size: 70px;
    margin: 0px;
    letter-spacing: 4px;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #fff;
}

i {
    padding-right: 10px;
    color: #fff;
    font-size: 90px;
}

/* playground */

.playground {
    border-bottom: 2px solid #13315C;
    border-top: 2px solid #13315C;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}

.playground > h2 {
    color: #13315C;
    font-size: 23px;
    margin: 0px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    padding: 20px;
}

/* controller btns */

.controller > .btn {
    font-size: 25px;
    padding: 15px;
    color: #fff;
}

.controller > .btn:hover {
    font-size: 28px;
    padding: 16px;
    color: #fff;
    background-color: rgb(219 69 82);
    border: 2px solid #fff;
}

.btn {
    padding: 10px;
    margin: 15px;
    text-transform: capitalize;
    font-size: 20px;
    border-radius: 5px;
    color: #fff;
    background: #13315C;
    border: 2px solid #fff;
}

.btn:hover {
    color: #fff;
    background-color: rgb(219 69 82);
    border: 2px solid #fff;
}

.btn-reset {
    margin: 30px;
}

/* images */
img {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
}

/* result area */
.result-area {
    border-bottom: 2px solid #13315C;
    padding-top: 20px;
}

p {
    color: #13315C;
    font-size: 20px;
    margin: 45px;
    padding: 18px;
    display: inline;
}

span {
   color: rgb(219 69 82);
   margin-left: 10px;
}

/* footer and rolls */
.footer {
    background-color: #13315C;
    color: #fff;
    padding: 10px;
    border: 2px solid #fff;
}

.footer > h2 {
    color: #fff;
    padding: 10px;
}

.footer h2 > i {
    font-size: 25px;
}

.footer > ol {
    text-align: center;
    list-style-position: inside;
    padding: 10px;
}

li {
    font-size: 15px;
    letter-spacing: 1px;
}
