@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Frijole&display=swap');

/* body style */
body {
    font-family: 'Bubblegum Sans', sans-serif;
    background-color: #8DA9C4;
    text-align: center;
}

/* heading */
.heading {
    background-color: #13315C;
    color: rgb(219 69 82);
    padding: 20px;
    text-transform: uppercase;
}

h1 {
    font-size: 50px;
    margin: 0px;
    letter-spacing: 4px;
}

i {
    padding-right: 10px;
}

/* playground */

h2 {
    color: rgb(219 69 82);
    font-size: 25px;
    margin: 0px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    padding: 20px;
}

/* controller btns */

.btn {
    padding: 10px;
    margin: 15px;
    text-transform: capitalize;
    font-size: 20px;
    border-radius: 5px;
    color: rgb(219 69 82);
    background: #13315C;
    border: 2px solid rgb(219 69 82);
}

img {
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #13315C;
    border-radius: 5px;
}

p {
    color: #13315C;
    font-size: 20px;
    margin: 10px;
    padding: 18px;
    display: inline;
}

.result-area {
    margin: 10px auto;
}

span {
   color: rgb(219 69 82);
}


/* footer and rolls */
.footer {
    background-color: #13315C;
    color: #8DA9C4;
    padding: 10px;
}

.footer > h2 {
    text-align: left;
}

li {
    font-size: 15px;
    text-align: left;
    letter-spacing: 1px;
}
